* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

p {
  margin: 24px 0;
  line-height: 2;
}

.wrapper {
  padding: 32px;
}

.cookie-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #2f3640;
  color: #f5f6fa;
  padding: 0 32px;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);

  transition: 400ms;
}

.cookie-container.active {
  bottom: 0;
}

.cookie-container a {
  color: #f5f6fa;
}

.cookie-btn {
  background: #e84118;
  border: 0;
  color: #f5f6fa;
  padding: 12px 48px;
  font-size: 18px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.display-3 {
    background-color: #00FF57;
    border: thick double #00034B;
    position: absolute;
    font-family: "華康新綜藝體W9(P)";
    font-size: 60px;
    color: #001431;
    text-align: center;
    left: 19px;
    top: 581px;
}
.display-4 {
	background-color: #f7dc88;
	border: thick solid #00034B;
    position: absolute;
    font-family: "華康新綜藝體W9(P)";
    font-size: 60px;
    color: #001431;
    text-align: center;
	left: 0px;
    top: 450px;
   
}

.display-5 {
	background-color: #ecffad;
	border: thick double #00034B;
    position: absolute;
    font-family: "華康新綜藝體W9(P)";
    font-size: 60px;
    color: #001431;
    text-align: center;
	 left: 0px;
    top: 550px;
   
}

.display-6 {
	background-color: #e39dfc;
	border: thick double #00034B;
    position: absolute;
    font-family: "華康新綜藝體W9(P)";
    font-size: 60px;
    color: #001431;
    text-align: center;
	 left: 0px;
    top: 650px;
	
}

.display-7 {
	background-color: #66fa7f;
	border: thick double #00034B;
    position: absolute;
    font-family: "華康新綜藝體W9(P)";
    font-size: 60px;
    color: #001431;
    text-align: center;
	 left: 0px;
    top: 750px;}

.display-8 {
	left: 0px;
    top: 1000px;
	
}

.display-9 {
	background-color: #faa0c4;
	border: thick double #00034B;
    position: absolute;
    font-family: "華康新綜藝體W9(P)";
    font-size: 60px;
    color: #001431;
    text-align: center;
	 left: 0px;
    top: 850px;}

.display-10 {
	background-color: #abadf7;
	border: thick solid #00034B;
    position: absolute;
    font-family: "華康新綜藝體W9(P)";
    font-size: 60px;
    color: #001431;
    text-align: center;
	 left: 0px;
    top: 950px;
	
}

.display-11 {
	background-color: #dff7ab;
	border: thick solid #00034B;
    position: absolute;
    font-family: "華康新綜藝體W9(P)";
    font-size: 60px;
    color: #001431;
    text-align: center;
	 left: 0px;
    top: 1050px;
	
}